<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: "Edycja myTodos"}) %>
<body>
    <div class="cssMain">
        <form method="post" action="/edit/<%= id %>">
            <label>Opis wydarzenia</label>
            <input type="text" name="message" placeholder="twoja wiadomość..."><br>
            <label>Deadline wydarzenia</label>
            <input type="date" name="date" ><br>
            <input type="hidden" name="URLfrom" value="<%= URLfrom %>">
            <button type="submit">Edytuj</button>
        </form>
        
        <% if(URLfrom === '/main') { %> <a href="/main">Powrót</a> <% } 
        else if (URLfrom === '/adminPanel') { %> <a href="/adminPanel">Powrót</a> <% } %>

    </div>
</body>
</html>